@import"common.scss";
@import"minxin.scss";
html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #CCCC99;
}

.header {
    width: 100%;
    height: pxTorem(44px);
}

.section {
    width: 100%;
    flex: 1;
}